<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae impedit
    similique accusamus. Obcaecati asperiores provident tenetur mollitia, culpa
    voluptatum, laborum dolorum ducimus commodi facere dolores quas unde enim
    aliquam minus voluptatibus, nobis nisi a magnam deserunt corrupti
    dignissimos? Asperiores expedita similique adipisci provident recusandae,
    quas quasi nostrum in animi repudiandae.
</p>
<p>
    Iste molestias nostrum sequi illum, minus pariatur explicabo facilis ab
    quibusdam, alias laudantium voluptatum tempore quaerat necessitatibus
    dignissimos totam tenetur aut tempora magnam amet saepe et obcaecati. Rem
    voluptatibus reprehenderit id quidem debitis minima amet, dolore
    accusantium. Molestiae voluptates, voluptatum ab recusandae, deserunt quidem
    veniam delectus autem sapiente odit culpa dolor? Dicta error enim saepe
    facere deleniti modi consectetur velit omnis. Molestias, nemo! Aspernatur,
    assumenda ullam. Illum veniam suscipit consequuntur?
</p>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem possimus,
    doloremque qui quibusdam ullam rem tempora illum minus dolor fugit veniam
    aspernatur hic ea eius consequatur quod sequi repudiandae? Dolores
    necessitatibus voluptatem maxime nesciunt libero iste in quidem deleniti aut
    animi ducimus molestiae delectus provident, sit, ea reprehenderit
</p>
<p>
    Perferendis quia maiores earum temporibus quaerat! Facere autem illum
    repellendus! Obcaecati saepe, recusandae odit debitis numquam tempora rem
    sapiente, nihil doloribus similique dolorem, necessitatibus dolor inventore!
    Eius nesciunt neque iure, asperiores inventore obcaecati nostrum quam
    cupiditate placeat blanditiis corporis sequi laudantium ipsam molestiae
    voluptates consectetur voluptas similique laboriosam tempore, sapiente
    perferendis.
</p>
<p>
    Fugit et dolore eum repellendus officiis quidem ut expedita praesentium
    itaque odio, quibusdam architecto, consectetur suscipit aperiam voluptatibus
    eaque, in similique veniam! Debitis numquam temporibus quam tempore quo
    dolores praesentium error sed minima sunt, at nihil expedita iure, non odit
    dolor molestias? Eveniet cumque, laborum molestias deserunt vero modi
    tempore fuga?
</p>

Post::create([ 'title' => 'Judul Artikel Pertama', 'slug' =>
'judul-artikel-pertama', 'excerpt' => 'Lorem ipsum pertama', 'body' => '
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem possimus,
    doloremque qui quibusdam ullam rem tempora illum minus dolor fugit veniam
    aspernatur hic ea eius consequatur quod sequi repudiandae? Dolores
    necessitatibus voluptatem maxime nesciunt libero iste in quidem deleniti aut
    animi ducimus molestiae delectus provident, sit, ea reprehenderit
</p>
<p>
    Perferendis quia maiores earum temporibus quaerat! Facere autem illum
    repellendus! Obcaecati saepe, recusandae odit debitis numquam tempora rem
    sapiente, nihil doloribus similique dolorem, necessitatibus dolor inventore!
    Eius nesciunt neque iure, asperiores inventore obcaecati nostrum quam
    cupiditate placeat blanditiis corporis sequi laudantium ipsam molestiae
    voluptates consectetur voluptas similique laboriosam tempore, sapiente
    perferendis.
</p>
<p>
    Fugit et dolore eum repellendus officiis quidem ut expedita praesentium
    itaque odio, quibusdam architecto, consectetur suscipit aperiam voluptatibus
    eaque, in similique veniam! Debitis numquam temporibus quam tempore quo
    dolores praesentium error sed minima sunt, at nihil expedita iure, non odit
    dolor molestias? Eveniet cumque, laborum molestias deserunt vero modi
    tempore fuga?
</p>
' ]); Post::create([ 'title' => 'Judul Artikel Pertama', 'slug' =>
'judul-artikel-pertama', 'excerpt' => 'Lorem ipsum pertama', 'body' => '
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem possimus,
    doloremque qui quibusdam ullam rem tempora illum minus dolor fugit veniam
    aspernatur hic ea eius consequatur quod sequi repudiandae? Dolores
    necessitatibus voluptatem maxime nesciunt libero iste in quidem deleniti aut
    animi ducimus molestiae delectus provident, sit, ea reprehenderit
</p>
<p>
    Perferendis quia maiores earum temporibus quaerat! Facere autem illum
    repellendus! Obcaecati saepe, recusandae odit debitis numquam tempora rem
    sapiente, nihil doloribus similique dolorem, necessitatibus dolor inventore!
    Eius nesciunt neque iure, asperiores inventore obcaecati nostrum quam
    cupiditate placeat blanditiis corporis sequi laudantium ipsam molestiae
    voluptates consectetur voluptas similique laboriosam tempore, sapiente
    perferendis.
</p>
<p>
    Fugit et dolore eum repellendus officiis quidem ut expedita praesentium
    itaque odio, quibusdam architecto, consectetur suscipit aperiam voluptatibus
    eaque, in similique veniam! Debitis numquam temporibus quam tempore quo
    dolores praesentium error sed minima sunt, at nihil expedita iure, non odit
    dolor molestias? Eveniet cumque, laborum molestias deserunt vero modi
    tempore fuga?
</p>
' ]); Post::create([ 'title' => 'Judul Artikel Kedua', 'slug' =>
'judul-artikel-kedua', 'excerpt' => 'Lorem ipsum Kedua', 'body' => '
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem possimus,
    doloremque qui quibusdam ullam rem tempora illum minus dolor fugit veniam
    aspernatur hic ea eius consequatur quod sequi repudiandae? Dolores
    necessitatibus voluptatem maxime nesciunt libero iste in quidem deleniti aut
    animi ducimus molestiae delectus provident, sit, ea reprehenderit
</p>
<p>
    Perferendis quia maiores earum temporibus quaerat! Facere autem illum
    repellendus! Obcaecati saepe, recusandae odit debitis numquam tempora rem
    sapiente, nihil doloribus similique dolorem, necessitatibus dolor inventore!
    Eius nesciunt neque iure, asperiores inventore obcaecati nostrum quam
    cupiditate placeat blanditiis corporis sequi laudantium ipsam molestiae
    voluptates consectetur voluptas similique laboriosam tempore, sapiente
    perferendis.
</p>
<p>
    Fugit et dolore eum repellendus officiis quidem ut expedita praesentium
    itaque odio, quibusdam architecto, consectetur suscipit aperiam voluptatibus
    eaque, in similique veniam! Debitis numquam temporibus quam tempore quo
    dolores praesentium error sed minima sunt, at nihil expedita iure, non odit
    dolor molestias? Eveniet cumque, laborum molestias deserunt vero modi
    tempore fuga?
</p>
' ]); Post::create([ 'title' => 'Judul Artikel Ketiga', 'slug' =>
'judul-artikel-ketiga', 'excerpt' => 'Lorem ipsum Ketiga', 'body' => '
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem possimus,
    doloremque qui quibusdam ullam rem tempora illum minus dolor fugit veniam
    aspernatur hic ea eius consequatur quod sequi repudiandae? Dolores
    necessitatibus voluptatem maxime nesciunt libero iste in quidem deleniti aut
    animi ducimus molestiae delectus provident, sit, ea reprehenderit
</p>
<p>
    Perferendis quia maiores earum temporibus quaerat! Facere autem illum
    repellendus! Obcaecati saepe, recusandae odit debitis numquam tempora rem
    sapiente, nihil doloribus similique dolorem, necessitatibus dolor inventore!
    Eius nesciunt neque iure, asperiores inventore obcaecati nostrum quam
    cupiditate placeat blanditiis corporis sequi laudantium ipsam molestiae
    voluptates consectetur voluptas similique laboriosam tempore, sapiente
    perferendis.
</p>
<p>
    Fugit et dolore eum repellendus officiis quidem ut expedita praesentium
    itaque odio, quibusdam architecto, consectetur suscipit aperiam voluptatibus
    eaque, in similique veniam! Debitis numquam temporibus quam tempore quo
    dolores praesentium error sed minima sunt, at nihil expedita iure, non odit
    dolor molestias? Eveniet cumque, laborum molestias deserunt vero modi
    tempore fuga?
</p>
' ]); Post::create([ 'title' => 'Judul Artikel Keempat', 'slug' =>
'judul-artikel-keempat', 'excerpt' => 'Lorem ipsum Keempat', 'body' => '
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem possimus,
    doloremque qui quibusdam ullam rem tempora illum minus dolor fugit veniam
    aspernatur hic ea eius consequatur quod sequi repudiandae? Dolores
    necessitatibus voluptatem maxime nesciunt libero iste in quidem deleniti aut
    animi ducimus molestiae delectus provident, sit, ea reprehenderit
</p>
<p>
    Perferendis quia maiores earum temporibus quaerat! Facere autem illum
    repellendus! Obcaecati saepe, recusandae odit debitis numquam tempora rem
    sapiente, nihil doloribus similique dolorem, necessitatibus dolor inventore!
    Eius nesciunt neque iure, asperiores inventore obcaecati nostrum quam
    cupiditate placeat blanditiis corporis sequi laudantium ipsam molestiae
    voluptates consectetur voluptas similique laboriosam tempore, sapiente
    perferendis.
</p>
<p>
    Fugit et dolore eum repellendus officiis quidem ut expedita praesentium
    itaque odio, quibusdam architecto, consectetur suscipit aperiam voluptatibus
    eaque, in similique veniam! Debitis numquam temporibus quam tempore quo
    dolores praesentium error sed minima sunt, at nihil expedita iure, non odit
    dolor molestias? Eveniet cumque, laborum molestias deserunt vero modi
    tempore fuga?
</p>
' ]); Post::create([ 'title' => 'Judul Artikel Kelima', 'slug' =>
'judul-artikel-kelima', 'excerpt' => 'Lorem ipsum Kelima', 'body' => '
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem possimus,
    doloremque qui quibusdam ullam rem tempora illum minus dolor fugit veniam
    aspernatur hic ea eius consequatur quod sequi repudiandae? Dolores
    necessitatibus voluptatem maxime nesciunt libero iste in quidem deleniti aut
    animi ducimus molestiae delectus provident, sit, ea reprehenderit
</p>
<p>
    Perferendis quia maiores earum temporibus quaerat! Facere autem illum
    repellendus! Obcaecati saepe, recusandae odit debitis numquam tempora rem
    sapiente, nihil doloribus similique dolorem, necessitatibus dolor inventore!
    Eius nesciunt neque iure, asperiores inventore obcaecati nostrum quam
    cupiditate placeat blanditiis corporis sequi laudantium ipsam molestiae
    voluptates consectetur voluptas similique laboriosam tempore, sapiente
    perferendis.
</p>
<p>
    Fugit et dolore eum repellendus officiis quidem ut expedita praesentium
    itaque odio, quibusdam architecto, consectetur suscipit aperiam voluptatibus
    eaque, in similique veniam! Debitis numquam temporibus quam tempore quo
    dolores praesentium error sed minima sunt, at nihil expedita iure, non odit
    dolor molestias? Eveniet cumque, laborum molestias deserunt vero modi
    tempore fuga?
</p>
' ]); Category::create([ 'name' => 'Programming', 'slug' => 'programming' ]);
Category::create([ 'name' => 'Web Design', 'slug' => 'web-design' ]);
Category::create([ 'name' => 'Personal', 'slug' => 'personal' ]); Post::create([
'title' => 'Judul Post Pertama', 'category_id' => 1, 'slug' =>
'judul-post-pertama', 'excerpt' => 'Lorem ipsum dolor sit amet consectetur
adipisicing elit. Adipisci in maiores temporibus nostrum assumenda reprehenderit
quasi id harum dolores asperiores!', 'body' => '
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente quia
    dolorem dolores ipsam ipsa tempore provident quo pariatur, expedita
    dignissimos veritatis nobis enim voluptates sit asperiores laborum officia
    optio odit.
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque veritatis
    aliquid dolor tenetur alias? Enim iusto ex velit, voluptatem accusantium
    recusandae quidem autem praesentium, modi facere a. Aperiam doloribus
    adipisci vero, quas quis molestiae illo maxime asperiores ducimus dolore eos
    non voluptates quam ipsam odio laudantium consequatur impedit corporis
    omnis.
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor tempore
    quidem maiores? Porro fugiat maiores suscipit dicta consequuntur labore
    amet. Obcaecati, a. Molestiae, officia. Eius impedit, voluptates rerum
    possimus aliquid deserunt sint neque minima repellat eveniet exercitationem
    officia ut provident.
</p>
' ]); Post::create([ 'title' => 'Judul Post Kedua', 'category_id' => 1, 'slug'
=> 'judul-post-kedua', 'excerpt' => 'Lorem ipsum, dolor sit amet consectetur
adipisicing elit. Rem quasi dolor odio corporis consequuntur minima laboriosam
eligendi explicabo, provident molestias, veniam obcaecati consectetur possimus
laborum sint tenetur ea ex laudantium.', 'body' => '
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente quia
    dolorem dolores ipsam ipsa tempore provident quo pariatur, expedita
    dignissimos veritatis nobis enim voluptates sit asperiores laborum officia
    optio odit.
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque veritatis
    aliquid dolor tenetur alias? Enim iusto ex velit, voluptatem accusantium
    recusandae quidem autem praesentium, modi facere a. Aperiam doloribus
    adipisci vero, quas quis molestiae illo maxime asperiores ducimus dolore eos
    non voluptates quam ipsam odio laudantium consequatur impedit corporis
    omnis.
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor tempore
    quidem maiores? Porro fugiat maiores suscipit dicta consequuntur labore
    amet. Obcaecati, a. Molestiae, officia. Eius impedit, voluptates rerum
    possimus aliquid deserunt sint neque minima repellat eveniet exercitationem
    officia ut provident.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores eius, amet
    quibusdam vel fuga quia explicabo veniam aperiam repellat quisquam in
    voluptatibus recusandae velit omnis dolor praesentium eligendi! Nemo aut
    pariatur eius, saepe totam illum nobis praesentium id explicabo magnam natus
    voluptates non tenetur?
</p>
' ]); Post::create([ 'title' => 'Judul Post Ketiga', 'category_id' => 3, 'slug'
=> 'judul-post-ketiga', 'excerpt' => 'Lorem ipsum dolor sit amet consectetur
adipisicing elit. Dignissimos blanditiis veniam nesciunt vitae nam iure nobis
natus corporis maiores ipsa, repudiandae similique doloribus laudantium rem
doloremque ratione dolorum facilis consectetur magni corrupti officia
perspiciatis veritatis quidem? Odio.', 'body' => '
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente quia
    dolorem dolores ipsam ipsa tempore provident quo pariatur, expedita
    dignissimos veritatis nobis enim voluptates sit asperiores laborum officia
    optio odit.
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque veritatis
    aliquid dolor tenetur alias? Enim iusto ex velit, voluptatem accusantium
    recusandae quidem autem praesentium, modi facere a. Aperiam doloribus
    adipisci vero, quas quis molestiae illo maxime asperiores ducimus dolore eos
    non voluptates quam ipsam odio laudantium consequatur impedit corporis
    omnis.
</p>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. At beatae quo
    maiores suscipit aliquid adipisci tenetur, debitis culpa architecto quisquam
    aperiam animi optio odit nihil, natus impedit, accusantium laboriosam!
    Dolorem animi officiis corrupti accusantium consectetur delectus tempore
    aliquid debitis, mollitia amet quas nulla! Asperiores, illo. Soluta
    reprehenderit porro officia ab.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores eius, amet
    quibusdam vel fuga quia explicabo veniam aperiam repellat quisquam in
    voluptatibus recusandae velit omnis dolor praesentium eligendi! Nemo aut
    pariatur eius, saepe totam illum nobis praesentium id explicabo magnam natus
    voluptates non tenetur?
</p>
' ]);

Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, vel quaerat molestias quam suscipit libero veniam magni at omnis dolor illum dolorum obcaecati autem nisi corrupti, atque, cupiditate voluptates. Iure, necessitatibus sit. Necessitatibus, consequatur obcaecati. Nam ipsum harum itaque reiciendis perferendis necessitatibus optio nulla porro quaerat saepe, fuga esse aspernatur dignissimos at deleniti numquam animi. Dolorum soluta perferendis impedit iste numquam veritatis sapiente? Tenetur ad sunt quos, minima eligendi voluptatum temporibus ullam facere dignissimos sequi iure? Asperiores, corrupti a. Nisi amet maiores eos impedit modi sapiente odio velit dolores quisquam aut. Veritatis ex veniam amet impedit dicta cumque voluptatibus labore.

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, similique neque fugit sit itaque sunt unde explicabo dignissimos nesciunt, obcaecati illum voluptates fugiat iste voluptas magnam a voluptate distinctio rem incidunt cum rerum dicta! Quis voluptatem quo, atque possimus corporis tempore quaerat odit assumenda, reprehenderit eaque blanditiis maxime cumque veritatis fugit autem? Molestiae, dicta neque officiis.

Aut repellendus sapiente suscipit est quis minus ab aliquam eius nostrum doloremque minima quisquam! Aperiam, aspernatur maxime saepe reprehenderit dolorum accusamus laudantium nulla dicta. Amet odio, molestiae quaerat nisi maiores sequi tenetur odit esse, adipisci aperiam, laudantium harum tempora deleniti dignissimos aliquid neque eligendi?
